{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<div class="row">  
  <div class="col-md-12">
    <form role="form" method="POST">
        <ul class="list-unstyled list-inline">
          <li><h4>Delete this post?</h4></li>
          <li><button type="submit" class="btn btn-danger" name="submit" value="delete">Delete</button></li>
          <li><button type="submit" class="btn btn-default" name="submit" value="cancel">Cancel</button></li>       
        </ul>
    </form>
  </div>
</div>

{{ macros.render_post(post) }}

{% endblock %}